<!DOCTYPE html>
<html>

<link href="/static/style.css" rel="stylesheet" type="text/css" />
<script language="JavaScript"> </script>

<head>
    <title>Dietary Restrictions</title>
</head>

<body>
    <h1>Dietary Restrictions</h1>

    <nav>
    <a href="/">Home</a> | <a href="/orders">Orders</a> | <a href="/customers">Customers</a> | 
    <a href="/dishes">Dishes</a> | <a href="/order_dishes">Order has Dishes</a> | 
    <a href="/ratings">Ratings</a> | <a href="/dietary_restrictions">Dietary Restrictions</a> | 
    <a href="/customers_has_dietary_restrictions">Customer Dietary Restrictions</a>
    </nav>

    <div>
        <table border="1" cellpadding="5">
            <table>
                <thead>
                    <tr>
                        <!-- Iterate through each key in the first entry to get the
        column name -->
                        {% for key in data[0].keys() %}

                        <!-- Create a <th> tag with the key inside of it, this will be
        our header row -->
                        <th>{{ key }}</th>

                        <!-- End of this for loop -->
                        {% endfor %}
                    </tr>
                <tbody>

                    <!-- Now, iterate through every person in bsg_people -->
                    {% for restriction in data %}
                    <tr>
                        <!-- Then iterate through every key in the current person dictionary -->
                        {% for key in restriction.keys() %}

                        <!-- Create a <td> element with the value of that key in it -->
                        <td>{{restriction[key]}}</td>
                        {% endfor %}
                        <td><a href="/edit_dietary_restrictions/{{restriction.ID}}">Edit</a></td>
                        <td><a href="/delete_dietary_restrictions/{{restriction.ID}}">Delete</a></td>
                    </tr>
                    {% endfor %}
            </table>
        </table>
        <p>&nbsp;</p>

    </div> <!-- add -->
    <div id="insert">
        <form action="/dietary_restrictions" method="POST" id="add_dietary_restriction">
            <legend><strong>Add Dietary Restriction</strong></legend>
            <fieldset class="fields">
                <label> Description </label> <input type="text" name="description" required>
            </fieldset>
            <input class="btn" type="submit" name="add_dietary_restriction" value="Add Dietary Restriction">
            <input class="btn" type="button" value="Cancel" onClick="browseDietaryRestrictions()">
        </form>
    </div><!-- add -->

    <p>&nbsp;</p>

</body>

</html>