<!DOCTYPE html>
<html>

<link href="/static/style.css" rel="stylesheet" type="text/css" />
<script language="JavaScript"> </script>

<head>
    <title>Dishes</title>
</head>

<body>
    <h1>Dishes</h1>

    <nav>
    <a href="/">Home</a> | <a href="/orders">Orders</a> | <a href="/customers">Customers</a> | 
    <a href="/dishes">Dishes</a> | <a href="/order_dishes">Dishes in Orders</a> | 
    <a href="/ratings">Ratings</a> | <a href="/dietary_restrictions">Dietary Restrictions</a> | 
    <a href="/customers_has_dietary_restrictions">Customer Dietary Restrictions</a>
    </nav>

    <div>
        <table border="0" cellpadding="5">
            <table>
                <thead>
                    <tr>
                        <!-- Iterate through each key in the first entry to get the
        column name -->
                        {% for key in data[0].keys() %}

                        <!-- Create a <th> tag with the key inside of it, this will be
        our header row -->
                        <th>{{ key }}</th>

                        <!-- End of this for loop -->
                        {% endfor %}
                    </tr>
                <tbody>

                    <!-- Now, iterate through every person in bsg_people -->
                    {% for dish in data %}
                    <tr>
                        <!-- Then iterate through every key in the current person dictionary -->
                        {% for key in dish.keys() %}

                        <!-- Create a <td> element with the value of that key in it -->
                        <td>{{dish[key]}}</td>
                        {% endfor %}
                        <td><a href="/edit_dishes/{{dish.ID}}">Edit</a></td>
                        <td><a href="/delete_dishes/{{dish.ID}}">Delete</a></td>
                    </tr>
                    {% endfor %}
            </table>
        </table>
        <p>&nbsp;</p>

    </div> <!-- add -->
    <div id="insert">
        <form action="/dishes" method="POST" id="add_dish">
            <legend><strong>Add Dish</strong></legend>
            <fieldset class="fields">
                <label> Dish Name </label> <input type="text" name="dish_name" required>
                <label> Price </label> <input type="text" name="price" required>
            </fieldset>
            <input class="btn" type="submit" name="add_dish" value="Add a Dish">
        </form>
    </div><!-- add -->

    <p>&nbsp;</p>

</body>

</html>