<html>
<head>
    <title>Edit Customer</title>
</head>
<body>
<table>
    <thead>
    <tr>
        <!-- Iterate through each key in the first entry to get the
        column name -->
        {% for key in data[0].keys() %}

        <!-- Create a <th> tag with the key inside of it, this will be
        our header row -->
        <th>{{ key }}</th>

        <!-- End of this for loop -->
        {% endfor %}
    </tr>
    <tbody>
        <tr>
            <!-- Then iterate through every key in the current person dictionary -->
            {% for key in data[0].keys() %}

            <!-- Create a <td> element with the value of that key in it -->
            <td>{{data[0][key]}}</td>
            {% endfor %}
        </tr>
    </table>
</body>
</html>