<html>
<link href="/static/style.css" rel="stylesheet" type="text/css" >

<head>
    <title>Edit Customer's Dietary Restrictions</title>
</head>

<body>
    <div id="edit_customers_has_dietary_restrictions">
        <form action="/edit_customers_has_dietary_restrictions/{{data[0].ID}}" method="POST" id="edit_customers_has_dietary_restrictions">
            <legend><strong>Edit Customer</strong></legend>
            <fieldset class="fields">
                <label id="customers_has_dietary_restrictions_id"> ID: {{data[0].ID}} </label>
                <label> Customer ID:  </label>
                
                <select id="update_customer_id" name="customer_id">
                    <option value="0"> None </option>
                    {% for customer in data2 %}
                    <option value="{{customer.customerID}}">{{customer.customerID}}</option>
                    {% endfor %}
                </select>

                <label> Dietary Restriction ID: </label>
                
                <select id="update_restriction_id" name="restriction_id">
                    <option value="0"> None </option>
                    {% for restriction in data3 %}
                    <option value="{{restriction.restrictionID}}">{{restriction.restrictionID}}</option>
                    {% endfor %}
                </select>

            </fieldset>
            <input class="btn" type="submit" id="edit_customers_has_dietary_restrictions" name="edit_customers_has_dietary_restrictions" value="Edit Customer/Dietary Restriction relationship" />
        </form>
    </div>
</body>

</html>