<html>

<head>
    <title>Edit Customer's Dietary Restrictions</title>
</head>

<body>
    <div id="edit_customers_has_dietary_restrictions">
        <form action="/edit_customers_has_dietary_restrictions/{{data[0].ID}}" method="POST" id="edit_customers_has_dietary_restrictions">
            <legend><strong>Edit Customer</strong></legend>
            <fieldset class="fields">customers_hasedit_customers_has_dietary_restrictions
                <label id="customers_has_dietary_restrictions_id"> ID: {{data[0].ID}} </label>
                <label> Customer ID:  </label>
                <input type="text" id="customer_id" name="customer_id" value="{{data[0].customerID}}" />
                <label> Dietary Restriction ID: </label>
                <input type="text" id="restriction_id" name="restriction_id" value="{{data[0].restrictionID}}" />
            </fieldset>
            <input class="btn" type="submit" id="edit_customers_has_dietary_restrictions" name="edit_customers_has_dietary_restrictions" value="Edit Customer/Dietary Restriction relationship" />
        </form>
    </div>
</body>

</html>