<html>

<head>
    <title>Edit Orders has Dishes</title>
</head>

<body>
    <div id="edit_order_dishes">
        <form action="/edit_order_dishes/{{data[0].order_dishescustomerID}}" method="POST" id="edit_order_dishes">
            <legend><strong>Edit Customer</strong></legend>
            <fieldset class="fields">order_dishes
                <label id="customer_id"> ID: {{data[0].customerID}} </label>
                <label> Customer Name:  </label>
                <input type="text" id="customer_name" name="customer_name" value="{{data[0].customerName}}" />
                <label> Phone Number: </label>
                <input type="text" id="phone_number" name="phone_number" value="{{data[0].phoneNumber}}" />
            </fieldset>
            <input class="btn" type="submit" id="edit_order_dishes" name="edit_order_dishes" value="Edit Customer" />
        </form>
    </div>
</body>

</html>