<html>
<link href="/static/style.css" rel="stylesheet" type="text/css" />

<head>
    <title>Edit Orders has Dishes</title>
</head>

<body>
    <div id="edit_order_dishes">
        <form action="/edit_order_dishes/{{data[0].ID}}" method="POST" id="edit_order_dishes">
            <legend><strong>Edit Dishes in Orders</strong></legend>
            <fieldset class="fields">
                <label id="orders_has_dishes_id"> ID: {{data[0].ID}} </label>
                <label> Order ID:  </label>
                
                <select id="update_order_id" name="order_id">
                    <option value="0"> None </option>
                    {% for order in data2 %}
                    <option value="{{order.orderID}}">{{order.orderID}}</option>
                    {% endfor %}
                </select>

                <label> Dish ID: </label>

                <select id="update_dish_id" name="dish_id">
                    <option value="0"> None </option>
                    {% for dish in data3 %}
                    <option value="{{dish.dishID}}">{{dish.dishID}}</option>
                    {% endfor %}
                </select>

            </fieldset>
            <input class="btn" type="submit" id="edit_order_dishes" name="edit_order_dishes" value="Edit Dishes in Orders" />
        </form>
    </div>
</body>

</html>