<html>
<head>
<title>Home</title>
<link href="style.css" rel="stylesheet" type="text/css" />

</head>

<body>
<h1>Home</h1>

[ <a href="/index">Home</a> | <a href="/orders">Orders</a> | <a href="/customers">Customers</a> | <a href="/dishes">Dishes</a> | 
<a href="/order_has_dishes">Order has Dishes</a> | <a href="/ratings">Ratings</a> | 
<a href="/dietary_restrictions">Dietary Restrictions</a> | <a href="/customers_has_dietary_restrictions">Customer Dietary Restrictions</a> ]

<p> Busy Beaver Burgers </p>


</body>
</html>