<!DOCTYPE html>
<html>

<link href="/static/style.css" rel="stylesheet" type="text/css" />
<script language="JavaScript"> </script>

<head>
    <title>Ratings</title>  
</head>

<body>
    <h1>Ratings</h1>

    <nav>
    <a href="/">Home</a> | <a href="/orders">Orders</a> | <a href="/customers">Customers</a> | 
    <a href="/dishes">Dishes</a> | <a href="/order_dishes">Dishes in Orders</a> | 
    <a href="/ratings">Ratings</a> | <a href="/dietary_restrictions">Dietary Restrictions</a> | 
    <a href="/customers_has_dietary_restrictions">Customer Dietary Restrictions</a>
    </nav>

    <div>
        <table border="0" cellpadding="5">
            <table>
                <thead>
                    <tr>
                        <!-- Iterate through each key in the first entry to get the
        column name -->
                        {% for key in data[0].keys() %}

                        <!-- Create a <th> tag with the key inside of it, this will be
        our header row -->
                        <th>{{ key }}</th>

                        <!-- End of this for loop -->
                        {% endfor %}
                    </tr>
                <tbody>

                    <!-- Now, iterate through every person in bsg_people -->
                    {% for rating in data %}
                    <tr>
                        <!-- Then iterate through every key in the current person dictionary -->
                        {% for key in rating.keys() %}

                        <!-- Create a <td> element with the value of that key in it -->
                        <td>{{rating[key]}}</td>
                        {% endfor %}
                        <td><a href="/edit_rating/{{rating.ID}}">Edit</a></td>
                        <td><a href="/delete_rating/{{rating.ID}}">Delete</a></td>
                    </tr>
                    {% endfor %}
            </table>
        </table>
        <p>&nbsp;</p>

    </div> <!-- add -->
    <div id="insert">
        <form action="/ratings" method="POST" id="add_rating">
            <legend><strong>Add a Rating</strong></legend>
            <fieldset class="fields">
                <label> Rating </label> <input type="text" name="rating" required>
                <label> Customer ID </label> <input type="text" name="customer_id" required>
                <label> Dish ID </label> <input type="text" name="dish_id" required>
            </fieldset>
            <input class="btn" type="submit" name="add_rating" value="Add Rating">
            <input class="btn" type="button" value="Cancel" onClick="browseRatings()">
        </form>
    </div><!-- add -->

    <p>&nbsp;</p>

</body>

</html>